<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Pandas/blob/master/P1_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The data manipulation capabilities of pandas are built on top of the numpy library. In a way, numpy is a dependency of the pandas library.<br>
Pandas is best at handling tabular data sets comprising different variable types (integer, float, double, etc.). In addition, the pandas library can also be used to perform even the most naive of tasks such as loading data or doing feature engineering on time series data.<br>

https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

https://www.hackerearth.com/practice/machine-learning/data-manipulation-visualisation-r-python/tutorial-data-manipulation-numpy-pandas-python/tutorial/

In [0]:
# Clone the entire repo.
!git clone -l -s https://github.com/cagBRT/Intro-to-Pandas.git cloned-repo
%cd cloned-repo
!ls

In [0]:
from IPython.display import Image
def page(num):
    return Image("c8-content/c8PythonProgramming"+str(num)+ ".png" , width=640)

In [0]:
import pandas as pd
import numpy as np

# **Core components of pandas: Series and DataFrames**

A Series is a data column<br>
DataFrame is a multi-dimensional table made up of a collection of Series<br>

In [0]:
#Create a Panda series
s = pd.Series([1, 3, 5, 6, 8])
s

# **Assignment #1** 
Create a series called:<br>
>towns
With the following values:<br>
>"San Jose", "KaiserSlautern", "Bangkok", "Singapore"

In [0]:
#Assignment #1

**Create a dataframe from two or more series**<br>
Use the form: <br>

>pd.DataFrame({column name:series name, column name:series name})

In [0]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

pd.DataFrame({ 'City name': city_names, 'Population': population })

# **Assignment #2**
Create a series of students names. The series should be 6 elements long. <br>
Create a series of students grades. The series should be 6 elements long<br>
Combine the two series in to a DataFrame.

In [0]:
#Assignment #2

**Create a DataFrame with unequal lengths of series**
<br>
This dataframe will be used lated in this course.

In [0]:
#There are 7 names in the student_names series
student_names=pd.Series(["bob", "ted","alice","max","bill", "ida", "mark"])
#There are 5 id numbers in the student_id series
student_id=pd.Series([112,113,114,115,116,])
#The two DataFrames can still be combined into a DataFrame
#Missing values are listed as NaN
student_info = pd.DataFrame({ 'name': student_names, 'id': student_id })
print(student_info)

**Remove from the dataframe any values that are missing**

Use isna function to see the missing values<br>
If the value is True, the data is missing

In [0]:
student_info.isna()

**Drop the rows that contain missing values**

In [0]:
student_info.dropna()

# **Assignment #3**
Create a series of student_weights with 5 elements<br>
Create a series of student_ages with 6 elements<br>
Combine the two series into one DataFrame. One column should be called Student Weight, the other column should be called Student Age<br>
Search for missing values

In [0]:
#Assignment #3

# **Create a dataframe from a CSV file**

Most of the time DataFrames are created from files. <br>
Use the Pandas read_csv command to read a CSV file and load it as a DataFrame.

In [0]:
california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
california_housing_dataframe

**Print the last 5 rows in a dataset using the tail function. **

In [0]:
california_housing_dataframe.tail()

# **Assignment #4**
Print the first 5 rows of the california_housing_dataframe. <br>
Use the head *function*

In [0]:
#Assignment #4

**Once data is in a Pandas dataframe, it can be manipulated with Pandas commands.**

In the example below, print all the sections where the houses have a median age less than or equal to 20.

In [0]:
california_housing_dataframe.loc[(california_housing_dataframe["housing_median_age"]<=20) ]

# **Assignment #5**

List all the sections where the median_income is greater than 3

**Pandas allows you to combine 2 or more data conditions**

In [0]:
california_housing_dataframe.loc[(california_housing_dataframe["housing_median_age"]<=20) & (california_housing_dataframe["median_income"]> 3.0) ]

In [0]:
california_housing_dataframe.describe()

# **Assignment #6**

List all the sections of california_house_dataframe that:
1. That have less than 200 bedrooms
2. And have a median imcome greater than 4.0

# **Check for missing data and count them**

1. Create a function that returns the sum of all the missing values
2. Apply the functon to the dataset

In [0]:
#Create a new function:
def num_missing(x):
  return sum(x.isnull())

#Applying per column:
print ("Missing values per column:")
print (california_housing_dataframe.apply(num_missing, axis=0)) #axis=0 defines that function is to be applied on each column

#Applying per row:
print ("\nMissing values per row:")
print (california_housing_dataframe.apply(num_missing, axis=1).head()) #axis=1 defines that function is to be applied on each row

# **Assignment #7**

Use the dataframe called student_info<br>
Use the num_missing function to list the missing data

**Assignment #7 cont.**
<br>
Fix the missing values and run the num_missing function again.

# **Using Pandas with Problem CSV Files**

Sometimes there are problems with a CSV file and you may not even be able to read it in correctly. 
For example in the example below when trying to read in a CSV file, an error occurs.

In [0]:
df2 = pd.read_csv("deniro.csv", sep=",")
df2

The problem with this file is hard to find because we can't even load the file. <br>
To fix this problem, load the file and ignore all the lines that are bad.

In [0]:
df2 = pd.read_csv("deniro.csv", sep=",",error_bad_lines=False)
df2

# **Assignment #8**

1. Figure out what lines were skipped and why. <br>
Hint: 
use cat to read the file<br>
2. Add those lines to the dataframe

<br>
As an example: I have added a row to the dataframe for you.

In [0]:
#Print the column names with the columns command
df2.columns

In [0]:
#Create a dataFrame for the new row
df_add = pd.DataFrame([[1970, 73, "Hi Mom!"]], columns =(['Year', ' Score', ' Title'], dtype='object'))
df_add

In [0]:
#append the two dataFrames
df3 = df2.append(df_add,sort=True, ignore_index=True)
df3

In [0]:
#Sort the dataframe by Year
df3.sort_values(by='Year')

In [0]:
#Assignment 8
#Add the other rows that had errors

**DataFrames can be Sorted by an axis:**<br>

In [0]:
df3.sort_index(axis=1, ascending=False)

# **Assignment #9**

1. Load **letter_frequency.csv** into a dataframe.
2. Sort based on percentage
3. Print out the consonant that have a higher percentage of frequency than the letter "U"

**When reading in CSV files, you must really understand your data **<br>

Print out the column names<br>
>print(dataframe-name.columns)<br>
Print out a row<br>
>print(dataframe-name.loc[[row#]])<br>
Print out a specific value<br>
>dataframe-name.at[row#, column name]

In [0]:
print(letters.loc[[0]])

In [0]:
letters.at[0,'Letter']

In [0]:
letters.loc[(letters[' "Percentage"'] > 2.7) & (letters["Letter"] != '    "A"' ) & (letters["Letter"] != '    "E"' ) & (letters["Letter"] != '    "I"' ) &
(letters["Letter"] != '    "O"' ) ]