<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Pandas/blob/master/P3_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Clone the entire repo.
!git clone -l -s https://github.com/cagBRT/Intro-to-Pandas.git cloned-repo
%cd cloned-repo
!ls

Looking at the Titanic dataset.

In [0]:
#Load the Pandas library
import pandas as pd

In [0]:
# Load the train and test datasets to create two DataFrames
train = pd.read_csv("trainTitanic.csv")

test = pd.read_csv("testTitanic.csv")
train.head()

Look at the test and training sets using head, tail, and/or describe

What is the shape of the training and test sets?

In [0]:
train["Survived"].value_counts()

How many people survived?

In [0]:
# absolute numbers
train["Survived"].value_counts()

What is the percentage of people that survived?

In [0]:
# percentages
train["Survived"].value_counts(normalize = True)

How many males and females survived?

In [0]:
train["Survived"][train["Sex"] == 'male'].value_counts()
train["Survived"][train["Sex"] == 'female'].value_counts()

In [0]:
train.sort_values("Fare")

In [0]:
kid = train["Survived"][train["Age"] <= 16]
print(kid)

In [0]:
train.nunique()

In [0]:
test.nunique()

In [0]:
train["Embarked"] = train["Embarked"].astype("category")
train["Embarked"].dtype

train.head()

In [0]:
train.sort_values("Cabin", ascending = True, na_position ='last')

**Creating a Mask**<br>
Filtering 2 or more conditions<br>
Using the and logic function

In [0]:
#Women who paid less than 50 dollars fare 

train_fare_mask = train["Fare"] < 50
train_sex_mask = train["Sex"] == "female"
train[train_fare_mask & train_sex_mask]

Filtering with the OR logic function

In [0]:
#Passengers who paid more than $500 fare or are over 70 years old
train_fare_mask2 = train["Fare"] > 500
train_age_mask = train["Age"] > 70
train[train_fare_mask2 | train_age_mask]

**Finding the Null values**

In [0]:
#All the passengers that have no cabin listing
null_mask = train["Cabin"].isnull()
train[null_mask]

In [0]:
#The sum of all the missing data
train.isnull().sum()

**Drop columns**<br>
If a column has a lot of missing data, it might be best to drop it.

In [0]:
train.drop(labels = ["Cabin"], axis=1).head()

**Drop columns**<br>
More than one column can be dropped at a time

In [0]:
train.drop(labels = ["Cabin", "Name"], axis=1).head()

**Fill missing data**

In [0]:
train["columnname"].fillna(0, inplace = True) #with inplace argument, we don't have to write it as
train["columnname"] = train["columnname"].fillna(0, inplace = True)

In [0]:
train["Age"].fillna("Unknown", inplace = True)
train

train['Age'] = train['Age'].fillna((train['Age'].median()))